<div class="margin-content">
  <h1 i18n class="title-page">重置 GameHub 密码</h1>

  <form (ngSubmit)="resetPassword()" [formGroup]="form">
    <div class="form-group">
      <label i18n for="password">新密码</label>

      <my-input-text
        formControlName="password" inputId="password" i18n-placeholder placeholder="请输入新密码"
        [formError]="formErrors['password']" autocomplete="new-password"
      ></my-input-text>
    </div>

    <div class="form-group">
      <label i18n for="password-confirm">确认密码</label>

      <my-input-text
        formControlName="password-confirm" inputId="password-confirm" i18n-placeholder placeholder="再次输入新密码"
        [formError]="formErrors['password-confirm']" autocomplete="new-password"
      ></my-input-text>
    </div>

    <input
      class="peertube-button primary-button" type="submit" i18n-value value="确认重置密码"
      [disabled]="!form.valid || !isConfirmedPasswordValid()"
    >
  </form>
</div>
