@if (requiresApproval()) {
  <my-alert type="primary" class="text-center">
    <p>
      <ng-container i18n>GameHub 管理员会在你完成并提交表单后审核注册申请。</ng-container>

      @if (averageResponseTime) {
        <ng-container i18n>They usually respond within {{ averageResponseTime | myDaysDurationFormatter }}.</ng-container>
      }
    </p>
  </my-alert>
}

<div class="why">
  <h3 i18n>Why create an account?</h3>

  <p i18n>
    你可以不注册就直接试玩 GameHub 上的小游戏。
    <br />
    创建 GameHub 账户后，你可以：
  </p>

  <ul>
    <li i18n>在游戏下方<strong>发表评论</strong>并回复其他玩家</li>
    <li i18n><strong>收藏</strong>游戏并关注喜欢的创作者</li>
    <li i18n>保存自己的<strong>游玩历史</strong>和动态消息</li>

    @if (!videoUploadDisabled()) {
      <li i18n>进入创作中心<strong>投稿 HTML 小游戏</strong></li>
    }
  </ul>
</div>

<div>
  <h4 i18n>准备好加入 GameHub 了吗？</h4>

  <p i18n>选择下一步，填写账户信息并开始探索社区。</p>
</div>

<div class="callout callout-primary callout-light">
  <div class="mascot-container" style="min-width: 140px">
    <img class="mascot" width="140px" height="160px" src="/client/assets/images/mascot/happy.svg" alt="mascot"/>
  </div>

  <div class="callout-content">
    <h4 i18n>为小游戏创作者准备的社区</h4>

    <p i18n>
      GameHub 专注于轻量、可分享的 HTML 小游戏，让玩家可以快速发现作品，也让创作者能够持续迭代自己的想法。
    </p>
  </div>
</div>
