<div class="mb-5">
  <p i18n>
    为了在 {{ instanceName() }} 发布小游戏，你可以先设置自己的<strong>创作者资料</strong>。
  </p>

  <p i18n>
    你可以使用一个容易记忆的<strong>作者名称和主页标识</strong>，让其他玩家更容易找到你的作品。
  </p>

  @if (videoQuota() !== -1) {
    <p i18n>
      当前账户可使用 <strong>{{ videoQuota() | bytes: 0 }}</strong> 的创作空间。
    </p>
  }
</div>

<form [formGroup]="form">

  <div class="row">

    <div class="col-md-12 col-xl-6 form-group">
      <label for="displayName" i18n>作者显示名称</label>

      <div i18n class="form-group-description">这是其他玩家看到的作者名称。</div>

      <div class="input-group">
        <input
          type="text" id="displayName" i18n-placeholder placeholder="例如：像素小屋"
          formControlName="displayName" [ngClass]="{ 'input-error': formErrors['displayName'] }"
        >
      </div>

      @if (formErrors.displayName) {
        <div class="form-error" role="alert">{{ formErrors.displayName }}</div>
      }
    </div>

    <div class="col-md-12 col-xl-6 form-group">
      <label for="name" i18n>作者主页标识</label>

      <div i18n class="form-group-description">这个标识会出现在你的作者主页地址中。</div>

      <div class="input-group">
        <input
          type="text" id="name" i18n-placeholder placeholder="例如：pixel-home"
          formControlName="name" [ngClass]="{ 'input-error': formErrors['name'] }"
          >
        <div class="input-group-text">&#64;{{ instanceHost }}</div>
      </div>

      @if (formErrors.name) {
        <div class="form-error" role="alert">{{ formErrors.name }}</div>
      }

      @if (isSameThanUsername()) {
        <div class="form-error" role="alert" i18n>
          作者主页标识不能与账户名相同，请返回上一步修改账户名。
        </div>
      }
    </div>
  </div>
</form>
