<form [formGroup]="form">

  @if (requiresApproval()) {
    <div class="form-group">
      <label i18n for="registrationReason">你为什么想加入 GameHub？</label>
      <textarea
        id="registrationReason" formControlName="registrationReason" class="form-control" rows="4"
        [ngClass]="{ 'input-error': formErrors['registrationReason'] }"
      ></textarea>

      @if (formErrors.registrationReason) {
        <div class="form-error" role="alert">{{ formErrors.registrationReason }}</div>
      }
    </div>
  }

  <div class="form-group">
    <my-peertube-checkbox inputName="terms" formControlName="terms">
      <ng-template ptTemplate="label">
        <ng-container i18n>
          我已年满 {{ minimumAge() }} 岁，并同意遵守
          <a class="link-primary" href="/about" target="_blank">GameHub 社区规范</a>
        </ng-container>
      </ng-template>
    </my-peertube-checkbox>

    @if (formErrors.terms) {
      <div class="form-error" role="alert">{{ formErrors.terms }}</div>
    }
  </div>
</form>
