<div class="margin-content">

  @if (signupDisabled) {
    <div class="signup-disabled">
    <my-alert type="warning" i18n>GameHub 当前暂未开放注册。</my-alert>
    </div>
  } @else {
    <div class="register-content">
      <my-register-stepper linear>
        <cdk-step i18n-label label="About" [editable]="!signupSuccess">
          <my-signup-step-title mascotImageName="about">
            <strong>
              <my-signup-label [requiresApproval]="requiresApproval"></my-signup-label>
            </strong>
            <div i18n>加入 GameHub</div>
          </my-signup-step-title>

          <my-register-step-about [serverStats]="serverStats" [requiresApproval]="requiresApproval" [videoUploadDisabled]="videoUploadDisabled"></my-register-step-about>

          <div class="step-buttons">
            <a i18n class="skip-step link-primary fw-normal" routerLink="/login">
              <strong>I already have an account</strong>, log in
            </a>
            <button class="peertube-button-big primary-button" cdkStepperNext>
              <my-signup-label [requiresApproval]="requiresApproval"></my-signup-label>
            </button>
          </div>
        </cdk-step>

        <cdk-step [stepControl]="formStepTerms" i18n-label label="Terms" [editable]="!signupSuccess">
          <my-signup-step-title mascotImageName="terms" i18n>
            <strong>Terms</strong>
            <div>GameHub 社区规范</div>
          </my-signup-step-title>

          <my-register-step-terms
            [hasCodeOfConduct]="false" [minimumAge]="minimumAge" [instanceName]="'GameHub'"
            [requiresApproval]="requiresApproval"
            (formBuilt)="onTermsFormBuilt($event)"
          ></my-register-step-terms>

          <div class="step-buttons">
            <button class="peertube-button-big secondary-button" cdkStepperPrevious>{{ defaultPreviousStepButtonLabel }}</button>
            <button class="peertube-button-big primary-button" cdkStepperNext [disabled]="!formStepTerms || !formStepTerms.valid">{{ defaultNextStepButtonLabel }}</button>
          </div>
        </cdk-step>

        <cdk-step [stepControl]="formStepUser" i18n-label label="My account" [editable]="!signupSuccess">
          <my-signup-step-title mascotImageName="account" i18n>
            <strong>Set up</strong>
            <div>your account</div>
          </my-signup-step-title>

          <my-register-step-user
            (formBuilt)="onUserFormBuilt($event)"
            [videoUploadDisabled]="videoUploadDisabled" [requiresEmailVerification]="requiresEmailVerification"
          ></my-register-step-user>

          <div class="step-buttons">
            <button class="peertube-button-big secondary-button" cdkStepperPrevious>{{ defaultPreviousStepButtonLabel }}</button>
            <button class="peertube-button-big primary-button" cdkStepperNext [disabled]="!formStepUser || !formStepUser.valid" (click)="videoUploadDisabled && signup()">{{ stepUserButtonLabel }}</button>
          </div>
        </cdk-step>

        @if (!videoUploadDisabled) {
          <cdk-step [optional]="true" [stepControl]="formStepChannel" i18n-label label="Creator profile" [editable]="!signupSuccess">
            <my-signup-step-title mascotImageName="channel" i18n>
              <div>设置</div>
              <strong>创作者资料</strong>
            </my-signup-step-title>

            <my-register-step-channel
              (formBuilt)="onChannelFormBuilt($event)"
              [videoQuota]="videoQuota" [instanceName]="instanceName" [username]="getUsername()"
            ></my-register-step-channel>

            <div class="step-buttons">
              <button class="peertube-button-big secondary-button" cdkStepperPrevious>{{ defaultPreviousStepButtonLabel }}</button>

              <div class="skip-step">
                <button class="link-primary button-unstyle" (click)="skipChannelCreation()">
                  <strong i18n>暂时跳过创作者资料</strong>
                </button>
                <div class="skip-step-description" i18n>之后可以在创作中心继续完善</div>
              </div>

              <button class="peertube-button-big primary-button" cdkStepperNext [disabled]="!formStepChannel || !formStepChannel.valid || hasSameChannelAndAccountNames()" (click)="signup()">
                <my-signup-label [requiresApproval]="requiresApproval"></my-signup-label>
              </button>
            </div>
          </cdk-step>
        }
        <cdk-step #lastStep i18n-label label="Done!" [editable]="false">
          <!-- Account creation can be a little bit long so display a loader  -->
          @if (!requiresApproval && !signupSuccess && !signupError) {
            <div class="done-loader">
              <my-loader [loading]="true"></my-loader>
              <div i18n>GameHub 正在创建你的账户...</div>
            </div>
          }

          @if (signupError) {
            <my-alert type="danger">{{ signupError }}</my-alert>
          }

          @if (signupSuccess) {
            <my-signup-success-before-email
              [requiresEmailVerification]="requiresEmailVerification" [requiresApproval]="requiresApproval" [instanceName]="instanceName"
            ></my-signup-success-before-email>
          }

          @if (signupError) {
            <div class="step-buttons">
              <button class="peertube-button-big secondary-button" cdkStepperPrevious>{{ defaultPreviousStepButtonLabel }}</button>
            </div>
          }
        </cdk-step>
      </my-register-stepper>
    </div>
  }

</div>
