<my-signup-step-title mascotImageName="success">
  @if (requiresApproval()) {
    <strong i18n>Account request sent</strong>
  } @else {
    <ng-container i18n>
      <strong>Welcome</strong>
      <div>加入 GameHub</div>
    </ng-container>
  }
</my-signup-step-title>

<my-alert type="primary">
  @if (requiresApproval()) {
    <p i18n>Your account request has been sent!</p>
  } @else {
    <p i18n>Your account has been created!</p>
  }

  @if (requiresEmailVerification()) {
    @if (requiresApproval()) {
      <p i18n>
        <strong>Check your email</strong> to validate your account and complete your registration request.
      </p>
    } @else {
      <p i18n>
        <strong>Check your email</strong> to validate your account and complete your registration.
      </p>
    }
  } @else {
    @if (requiresApproval()) {
      <p i18n>
        A moderator will check your registration request soon and you'll receive an email when it is accepted or rejected.
      </p>
    } @else {
      <p i18n>
        如需了解 GameHub 的使用方式，可以查看<a class="link-primary" href="/about">社区说明</a>。
      </p>
    }
  }
</my-alert>
