<my-signup-step-title mascotImageName="success">
  @if (requiresApproval()) {
    <strong i18n>注册申请已提交</strong>
  } @else {
    <ng-container i18n>
      <strong>欢迎</strong>
      <div>加入 GameHub</div>
    </ng-container>
  }
</my-signup-step-title>

<my-alert type="primary">
  @if (requiresApproval()) {
    <p i18n>您的账户申请已提交！</p>
  } @else {
    <p i18n>您的账户已创建！</p>
  }

  @if (requiresEmailVerification()) {
    @if (requiresApproval()) {
      <p i18n>
        <strong>请查收邮件</strong>以验证账户并完成注册申请。
      </p>
    } @else {
      <p i18n>
        <strong>请查收邮件</strong>以验证账户并完成注册。
      </p>
    }
  } @else {
    @if (requiresApproval()) {
      <p i18n>
        管理员会尽快审核您的注册申请，审核通过或拒绝后您会收到邮件通知。
      </p>
    } @else {
      <p i18n>
        如需了解 GameHub 的使用方式，可以查看<a class="link-primary" href="/about">社区说明</a>。
      </p>
    }
  }
</my-alert>
